<!-- th:replace="~{fragments/layout :: layout (~{::body},'owners')}": 外部のレイアウトテンプレート（fragments/layout）をこのHTMLに挿入。
layoutという名前のテンプレートが呼び出され、現在の<body>コンテンツと'owners'という引数が渡される。 -->
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

	<h2>Owner</h2>
	<!-- th:object="${owner}": Thymeleafのオブジェクトバインディング属性で、ownerオブジェクトがフォームのモデルとして使用される -->
	<!-- <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />:fragments/inputFieldテンプレートのinputフラグメントを呼び出す。 -->
	<form th:object="${owner}" class="form-horizontal" id="add-owner-form"
		method="post">
		<div class="form-group has-feedback">
			<input
				th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
			<input
				th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			<!-- th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'": with属性を使って、owner['new']がtrueの場合は'Add Owner'、それ以外の場合は'Update Owner'になる-->
				<button
					th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
					class="btn btn-primary" type="submit" th:text="${text}">Add
					Owner</button>
			</div>
		</div>
	</form>
</body>
</html>